# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Deploy & Upload

on:
  # 支持手动触发构建
  workflow_dispatch:
  release:
    # 创建release的时候触发
    types: [ published ]

jobs:
  gh-deploy:
    name: "Publish Project (GitHub)"
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v5
      - name: "Set up JDK"
        uses: actions/setup-java@v5
        with:
          java-version: '18'
          distribution: 'adopt'
          cache: maven

      - name: "Maven Deploy"
        run: mvn --batch-mode deploy -DskipTests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Release Asset Upload"
        id: upload-release-asset
        uses: shogo82148/actions-upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ".asset/*.jar"
          asset_content_type: application/java-archive


      - name: "Modrinth Publish"
        id: publish-modrinth
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: laBiibC0
          modrinth-featured: true
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          files: |
            .asset/*.jar
          loaders: |
            spigot
            paper
            purpur
          game-versions: |
            >=1.16 <=1.20.4
          game-version-filter: releases
          java: |
            17
          dependencies: |
            residence
            placeholderapi(recommended)

      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@df268dd1684fb95352aa463056e3cf41f9acb94b